<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/x-icon" href="img/logo2.png" />
	<link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
	<link rel="stylesheet" href="css/style404.css">
	<title>Infinity Pet</title>
</head>
<body>


	<div class="row">
		<center>
			<FONT SIZE=10><h1>WOO!</h1></FONT>	
			<div class="img-contenedor-sin-efecto">
				<img src="img/404.png">
				<h2>PÁGINA NO ENCONTRADA (ERROR 404)</h2>
			</div>
			


		<center>
		</div>

	</body>

	</html>