<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Infinity Pet</title>
  <link rel="shortcut icon" type="image/x-icon" href="img/logo2.png" />
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/styleTienda.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<link rel="stylesheet" href=" ">
<body>

  <nav>
    <div class="nav-wrapper white accent-3">
      <a href="#!" class="brand-logo"><img src="img/logo240.png" alt="carro" HSPACE="10" VSPACE="11" />
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       <li><a href="sass.html"><i class="material-icons left">search</i><font color=#00BFFF>Buscar</font></a></li>

       <li><a href="sass.html"><font color=#00BFFF>Ropa</font></a>
       </li>
       <li><a href="badges.html"><font color=#00BFFF>Zapatitos</font></a></li>
       <li><a href="collapsible.html"><font color=#00BFFF>Accesorios</font></a></li>
       <li><a href="mobile.html"><font color=#00BFFF>Extra</font></a></li>
       <li><a href="Index.html" target="_blank"><img src="img/carriton40.png" alt="carro" HSPACE="10" VSPACE="10" /></a></li>
     </ul>


   </div>




<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


 </nav>
 <ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>	
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>

<center>

  <div class="row">
    <div class="col s12">
      <div class="col s6 col-md-6">

       <div class="col s6 col-md-6">
<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>

  </ul>

       </div>
       <div class="col s6 col-md-6">



             <form action="#">
    <p class="range-field">
      <input type="range" id="test5" min="10" max="1000" />
    </p>
  </form>

  <form action="#">
    <p class="range-field">
      <input type="range" id="test5" min="10" max="1000" />
    </p>
  </form>
       </div>
     </div>


     <div class="col s6 col-md-6">

      <div class="col s6 col-md-6">
        
<br>
  <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>
    <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>
    <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>
    <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>
    <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>
    <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>

      </div>


<br>
        <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>
        <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>
              <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>



    </div>
  </div>
</div>
<center>      
</main>
<div class="row">
  <div class="col s12 m12">
    <br>
    <br>
    <div class="col s12 m4">

      <div class="card">
        <br>
        <div class="card-image">
          <img src="img/Collares/3.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>



    </div>

    <div class="col s12 m4">

     <div class="card">
      <br>
      <div class="card-image">
        <img src="img/Collares/2.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>


  </div>


  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>



  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>



  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>



  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>

  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>


  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>


  <div class="col s12 m4">
    <div class="card">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card-image">
        <img src="img/Collares/1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient</p>
      </div>
    </div>
    <br>
    <br>

  </div>


</div>



</div>


</main>














<main footer>
  <footer class="page-footer  light-blue lighten-1  accent-3"  id="myFooter" >

   <div class="row">
    <center>
      <div class="col s12">¡SÍGUENOS EN NUESTRAS REDES SOCIALES!</div>
      <div class="col s4"></div>

      <div class="row">
        <div class="col s3"></div>

        <div class="col s12">
          <center>
            <br>
            <br>
            <a href="https://www.instagram.com/tiendasoxxo/"><img src="img/icons8-instagram-48.png"/></a>
            <a href="https://twitter.com/Tiendas_OXXO"><img src="img/icons8-twitter-48.png"/></a>
            <a href="https://www.youtube.com/user/tiendaoxxo"><img src="img/icons8-youtube-48.png"/></a>
            <a href="https://www.oxxo.com/"><img src="img/icons8-linkedin-48.png"/></a>
            <a href="https://www.facebook.com/OXXOTiendas"><img src="img/icons8-facebook-48.png"/></a>
          </center>
        </div>
        <div class="col s3"></div>

        </div>


        <div class="row">
          <div class="col s1"></div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"><br>ALGO</div>
          <div class="col s1"></div>
        </div>


        <div class="footer-copyright">
          <div class="col s12">
            © 2018 Copyright 
          </div>
        </div>
        <br>
      </footer>



    </main>


  </body>
  <script src="js/jquery.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/appTienda.js"></script>
  </html>