{% block content %}
    {% if validlink %}
            <h1>Nueva contraseña</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.newpassword1.errors }}
                <label for="id_new_password1">Nueva contraseña:</label>
                {{ form.newpassword1 }}
                {{ form.newpassword2.errors }}
                <label for="id_new_password2">Confirme contraseña:</label>
                {{ form.newpassword2 }}
                <input type="submit" value="Enviar"/>

            </form>
    {% else %}
            <h1 class="text-center" >Este enlace ya ha sido utilizado </h1>
    {% endif %}
{% endblock %}